<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Admin</title>
</head>
<body>
    <h1>List of Posts Created</h1>
    <p>Total posts: <%=posts.length%>
    </p>
    
<% if (posts.length> 0) { %>
    <% for (let i=0; i < posts.length; i++) { %>
        <div class="post">
            <h3>Post ID: <%= posts[i]._id %>
            </h3>
            <p>Text Content: <%= posts[i].textContent %>
            </p>
            <p>Author: <%= posts[i].author.username %>
            </p>
            <p>Email: <%= posts[i].author.email %>
            </p>
            <form action="/admin/deletepost" method="POST">
                <input type="hidden" name="_id" value="<%= posts[i]._id %>">
                <button>Delete</button>
            </form>
        </div>
        <% } %>
            <% } else { %>
                <p>No posts found.</p>
                <% } %>

</body>
</html>